body{
    background-color: bisque;
}
h1{
    color: black;
    padding: 1rem 2rem;
    border: 3px solid #000;
    text-align: center;

    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #fff100;

}

/* .a{
    color: blue;
}
.b{
    color: red;
}
.c{
    color: blue;
} */