li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}

li:hover{
    background: #0066CC;
    color:#fff;
}

.invest-wrap{
    height: 0;
    opacity: 0;
    transition: all .5s ease;    
}


