li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}

li:hover{
    background: #30c8ee;
    color:#fff;
}
.scene1_back{
    background-color: #30c8ee;
}

/* 投資を選択する画面を非表示 */
.invest-wrap{
    height: 0;
    opacity: 0;
    transition: all .5s ease;    
}
#invest{
    display: none;
}
/* シーン２を非表示 */
/* .scene2{
    display: none;
} */

/* シーン3を非表示 */
/* .scene3{
    display: none;
} */
